<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>Hello, This is My about page</h1>
    <form action="/about" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value=''>
        <br>
        <label for="job">Job</label>
        <input type="text" name="job" value=''>
        <br>
        <label for="email">Email</label>
        <input type="text" name="email" value=''>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>